.ArticleItemsListContainer {
    display: flex;  
    flex-direction: column;
    border: 0.5px solid var(--foreground);
    padding: var(--space-md);
    margin: 0 0 var(--space-sm) 0;
    width: 100%;
}

.articleItemRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-sm);
    border-bottom: 0.5px solid var(--foreground);
    width: 100%;
}

.articleTitle {
  font-weight: 500;
  font-size: 1rem;
  flex: 1;
  min-width: 50%;
}

