.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.5px solid var(--foreground);
    padding: var(--space-md);
    overflow-x: hidden;
}

.uploadButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  background-color: hotpink;
  cursor: pointer;
  transition: background 0.2s ease;
  color: white; /* or inherit if using currentColor */

  /* hover/focus for polish */
}
.uploadButton:hover,
.uploadButton:focus {
  background-color: lightpink;
}

.hiddenFileInput {
  display: none;
}
